


.container{
    background-color:lightblue;
    border-radius: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
.photo{
    border-radius: 250px;
    width: 250px; 
    margin-left: 0;
    margin-right: 0; 
    padding:0;
}

#header{display: flex;
    align-items: stretch;
    justify-content: space-between;}