
label {
    width: 150px;
    display: inline-block;
  }
  input:not([type="submit"]) {
    width: 250px;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 1rem;
    box-sizing: border-box; /* pour s'assurer que les margin/padding n'impacte pas la largeur width */
  }

  .btn-primary {
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }

  input:invalid + .icon-ok {
    display: none;
  }
  form:invalid input[type="submit"] {
    background-color: gray;
  }

  input:valid + .icon-ok {
    display: inline-block;
  }

  .container{
    background-color:whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    width: 800px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 200px;
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.container2{
    background-color: #ffffff67;
    border-radius: 10px;
    backdrop-filter: blur(7px);
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    width: 700px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 200px;
    padding: 0 10px;
    padding-top: auto;
    padding-bottom: auto;
}

.big{
    font-size: 50px;
  
}
.big2{
    font-size: 30px;
}